header {
    font-family: Arial ;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

figure {
    margin: 0;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    border: gray solid;
    display: inline-block;
}
