.container {
    display: flex;
    flex-wrap:  wrap;
}
header, main, footer,.promo2 {
    flex: 100%;
}
main {
    flex: 3;
}

header{
    order: -2
}

.promo1 {
    flex: 2;
    order: -1;
}

.promo2 {
    flex: 1;
}
