body {
    background-color: #f5f5dd;
}

header {
    border-top: #405762 solid;
    background-color: lightblue;
    color: #405762;
    font-family: Arial;
}

.logo {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    padding: 0 0 0 15px;
}

.slogan {
    font-size: 20px;
    padding: 0  15px 0 0;
}

nav {
    display: inline-block;
    width: 250px;
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
}
article {
    display: inline-block;
    color: dimgray;
    font-family: Arial;
    left: 300px;
    box-sizing: border-box;
    position: absolute;
}

li {
    list-style-type: none;
    border-bottom: 1px lightgrey solid;
}
a {
    text-decoration: none;
    color: #405762;
}

a:hover{
    color: gray;
}