* {
    background-color: #afc4dd;
    color: darkblue;
}

h1 {
    text-shadow: 2px 2px 2px white;
}
h2 {
    color: red;
    opacity: 0.5;
}
ul {
    list-style-image: url('../icons/bullet_red.png');
}
/*is there a more efficient way to do this?*/
li:nth-child(1){
    color: red;
}
li:nth-child(2){
    color: green;
}
li:nth-child(3){
    color: blue;
}
li:nth-child(4){
    color: cyan;
}
li:nth-child(5){
    color: magenta;
}
li:nth-child(6){
    color: yellow;
}
