body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 150%;
}

ul{
    display: flex;
    background-color: gold;
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
}


a:link {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: blue;
}

a:hover {
    background-color: blue;
    color: gold;
}
/*
a:visited {
    color: blue;
}